<h1>New Post</h1>
<%= form_for :comment do |f| %>
  <p>
    <%= f.label :post_id %><br>
    <%= f.text :post_id %>
  </p>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>